/* label {
    padding: 5px;
    margin: 0px 3px;
}
body {
    overflow-x: hidden;
}
.cuisineType {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 10px;
    padding: 10px;
} */

.jumbotron {
    background-image: url(../images/phone3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Times New Roman", Times, serif;
    padding: 0;
    height: 150px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    color:rgb(105, 205, 223);
    text-align: center;
    text-shadow:
		-.5px -.5px 0 rgb(182, 164, 164),
		.5px -.5px 0 rgb(182, 164, 164),
		-.5px .5px 0 rgb(182, 164, 164),
		.5px .5px 0 rgb(182, 164, 164);
    font-size: 35px;
    margin: 0px 0px 10px 0px;
}

.title {
    text-align: center;
    margin-top: 30px;
}
 
.panel {
    margin-top: 20px;
}

.panel-footer {
    font-family: "Times New Roman", Times, serif;
    color:rgb(105, 205, 223);
    text-shadow:
		-.5px -.5px 0 rgb(182, 164, 164),
		.5px -.5px 0 rgb(182, 164, 164),
		-.5px .5px 0 rgb(182, 164, 164),
		.5px .5px 0 rgb(182, 164, 164);
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
 
/* label {
    padding: 5px;
    margin: 0px 3px;
} */

body {
    overflow-x: hidden;
}

.bottom-display {
    margin-bottom: 20px;
    margin-top: 10px;
}
 #map {
    height: 300px;
    width: 100%;
    border-style: solid;
    border-radius: 1px;
    border-width: 1px;
    border-color: black;
 }

 #results {
    height: 300px;
    width: 100%;
    background-color: rgb(133, 98, 98);
    border-style: solid;
    border-radius: 1px;
    border-width: 1px;
    border-color: black;
 }